.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type='text'] {
  flex-grow: 1;
}

select {
  flex-shrink: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.stars,
.forks {
  margin-left: 5px;
}

.stars svg,
.forks svg {
  display: inline-block;
  vertical-align: text-bottom;
}
